.vscode
.env*
.DS_Store
.idea
venv/
.ipynb_checkpoints
.__pycache__
__pycache__
*.log
tmp*
temp*
private*
dist/
nohup*
cache
log/
.trash/
runs
logs
rag_nodes_index.jsonl
alfworld_data
step_experiences/*
build/*
*.egg-info/*
cookbook/appworld/data/*
cookbook/appworld/experiments/*
cookbook/appworld/exp_result/*
file_vector_store/*
cookbook/appworld/file_vector_store/*
/.venv/
site/*
docs/_build/*
test_compact_storage/*
test_working_memory/*
*.code-workspace
local_vector_store/*
reme_profile/*
chroma_vector_store/*
bench_results/*
meta_memory/*
*.sqlite3
**/data/*.json
*.db
memories/*
.reme/*
benchmark/spider/exp_result/
benchmark/spider/library/
benchmark/spider/spider_data/
benchmark/spider/__pycache__/
